.btn {
    padding: 8px;
    border: none;
    flex-shrink: 0;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    transition: all 0.2s linear;
    background-color: transparent;

    &:active {
        opacity: 0.8;
    }

    &__icon {
        width: 20px;
        height: 20px;
        stroke: #ffffff;
        transition: transform 0.2s linear;
    }

    &--rounded {
        border-radius: 12px;
    }

    &--primary {
        background-color: #397AF5;

        &:hover {
            background-color: #356fdc;
        }
    }

    &--outlined {
        border: 1px solid #397AF5;

        .btn__icon {
            fill: #397af5;
        }

        &:hover {
            background-color: rgba(66, 132, 255, 0.25);
        }
    }

    &.card-expanded {
        border: 1px solid #397af5;
        background-color: #edf2ff;

        .btn__icon {
            stroke: #397af5;
            transform: rotate(180deg);
        }
    }
}