.icon {
    display: inline-block;
    background-repeat: no-repeat;
    
    &--chewron-down {
        background-image: url('src/assets/icons/chewron-down.svg');
    }
    
    &--dots {
        background-image: url('src/assets/icons/dots.svg');
    }
}